    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Additional Services* <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">
        You or your guests will not have to search for a car in the parking lot or near the airport or train station.
        Assistance with things - if you have a lot of luggage, our drivers will help you to get and load things in the car.
        Auto-babysitting - we provide a responsible driver on a technically sound car that will easily bring your child (up to 14 years) to school, for sports training, etc. and bring you home. This will help parents to significantly save time and be calm for their baby.
        Towing is a service that will allow you to move your car in the event of a malfunction with our vehicle.
        A service that allows you to travel with your pet in the salon.
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://i.ibb.co/KNvSph2/Portable-Baby-Car-Seat-Updated-Version-Thickening-Sponge-Adjustable-Protection-Children-s-Chair-Kids-Travel-Toddler.jpg" alt="Portable-Baby-Car-Seat-Updated-Version-Thickening-Sponge-Adjustable-Protection-Children-s-Chair-Kids-Travel-Toddler" border="0" width="350" height="350" >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Spy for your workers.<span class="text-muted">We know that you always wanted!</span></h2>
        <p class="lead">
        Live, day-by-week, monthly, online viewing for corporate clients. Now you don't have to wait for the animal in a month! You can always, at any time of the day, see who and where of your employees went! Accounting for transport costs: According to the results of the work for the month, the customer is provided with a complete package of documents and a detailed travel register.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://i.ibb.co/GQBDT7H/roadrage1-3375396b.jpg" alt="roadrage1-3375396b" border="0"  width="350" height="350">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Let's made it serious!<span class="text-muted">Checkmate.</span></h2>
        <p class="lead">
          To complete the order, you need to provide a telephone number and the name of the person who will use the service to contact the customer.
          The order of the person of the transportation service is an indication that the client gives the right to process his personal data for the purposes of fulfilling the order and improving the quality of service rendering.
          If you do not agree to the processing of personal data, please do not use this service.
        </p>
      </div>
      <div class="col-md-5">
        <img src="https://i.ibb.co/19Yrmfm/product-and-services-img-10.jpg" alt="product-and-services-img-10" border="0" width="350" height="350">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->