  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #A9A9A9!important;">
    
         <a class="navbar-brand" href="/">
        <img style="max-width:30px; margin: 0 auto; display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/GHm7ZB3/icon2.png">
        </a>
        <a class="navbar-brand" href="/">Taxi of Groningen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/orders/new-order/">Make an order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders/">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drivers/">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cars/">Cars</a>
      </li>
    </ul>
  </div>
</nav>