<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>!WOW!</h2>
        <p>If there is no own vehicle, then a taxi is a great option for transportation. Moreover, today there are many services that can satisfy the needs of even the most demanding customer: feed speed, car class and trip cost.
        Using their services, you will not only reach your destination in a timely manner, but you will also get an excellent company in the person of a service driver. After all, as a rule, drivers are very interesting interlocutors, they know almost everything about the city in which they work, so you can not only get to the most remote corners, but also get a free tour as a bonus.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>!WOW!</h2>
        <p>Arriving in a city, such as, for example, Groningen, using a taxi you can get to any of its areas as quickly as possible, since one of the features of a taxi is speed. In addition, one cannot but agree with the fact that public transport is unlikely to bring pleasure from the trip. Especially if you are in a hurry for some important meeting or a festive event, it is better to book a car in advance, thus saving not only time but also nerves.
        This service is very convenient, and all you need is to call a taxi service, give your address and the time at which the car is needed. The service operators will record the information received, and the taxi will be waiting for you at the indicated time in order to comfortably deliver to your destination.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>!WOW!</h2>
        <p>Even if you are the owner of your own transport, then a taxi has certain advantages over it. After all, your car can be under repair, and there are times when you drink alcohol, which means you can not get behind the wheel yourself. In addition, taking into account the daily costs of gasoline, scheduled maintenance, oil change, payment for parking space, it becomes clear that your own car is quite a costly means of transportation. As for professional carriers, they independently solve these kinds of problems, providing you with a comfortable car interior, without any extra headache.
        If you need to travel to another city, taxi services are simply irreplaceable. An experienced driver will quickly deliver you to the station or airport, and will also help with heavy bags and uncomfortable suitcases.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
