{% extends "base_pages/base.html" %}



{% block content %}
<p> <br> </p>
	<h1>{{title}}</h1>
<hr>

<ul class="list">		
	{% for object in object_list %}
	 	<div class="card mb-3" >
		  <div class="row no-gutters">
		    <div>
		      <img src="https://i.ibb.co/WgqgW5J/pic.png" class="card-img" alt="pic" border="0" height="200" width="200" >
		    </div>
		    <div class="col-md-8">
		      <div class="card-body">
		        <h5 class="card-title"><b>{{object.first_name}} {{object.last_name}}</b></h5>
		        <p class="card-text"><b>Gender</b>: {{object.gender}}<br>
		        <b>Was born</b>: {{object.birth_date}}<br>
				<b>Adress</b>: {{object.street}} street, {{object.number}}, {{object.city}}, {{object.postal_code}}<br>
				<b>License number</b>: {{l_n}}<br>
				<b>Works since</b>: {{object.hire_date}}<br>
				<b>Mobile number</b>: {{object.mobile_number}}</p>
				{% if sal %}
				<b>Salary</b>:
					{% for object2 in sal %}
					 <p>From {{object2.from_date}} to {{object2.to_date}}  -  <b>{{object2.salary}} euros</b> </p>
					{% endfor %}
				{% endif %}
				<a class="btn btn-danger" href="{{object.license_number}}/delete/" role="button">Delete driver</a>
		      </div>
		    </div>
		  </div>
		</div>	
	{% endfor %}
</ul>
	
<hr>
	
{% endblock %}


